Node-Red-Template/flows.json
[
    {
        "id": "86b8da3f4ad42a15",
        "type": "tab",
        "label": "EarthquakePredictor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a36355f0d94765e8",
        "type": "group",
        "z": "86b8da3f4ad42a15",
        "name": "Create Tables",
        "style": {
            "label": true
        },
        "nodes": [
            "fad8d974073e6746",
            "498f8eac1777b3ba",
            "d1e4e7dab5428bdf",
            "7d2025e1ba02e2e1",
            "499ef6fb561916fb",
            "3f31cf0f92eeb707",
            "d9df0257f3a3088d",
            "48c2be63ba892ced"
        ],
        "x": 14,
        "y": 79,
        "w": 712,
        "h": 202
    },
    {
        "id": "f2faf364937c04c7",
        "type": "group",
        "z": "86b8da3f4ad42a15",
        "name": "Data YTD",
        "style": {
            "label": true
        },
        "nodes": [
            "2fdfbc60f964738c",
            "a6c9a2b12a0f0d0a",
            "b802a680815b87fd",
            "4eb35805dd87a390",
            "947aa333234479d2",
            "a677b8a49f889e69",
            "05c96568304476ea",
            "8c287839d139b242",
            "82d9b1544391f0cf"
        ],
        "x": 14,
        "y": 299,
        "w": 1312,
        "h": 142
    },
    {
        "id": "dafe7708d18845db",
        "type": "group",
        "z": "86b8da3f4ad42a15",
        "name": "Current Data",
        "style": {
            "label": true
        },
        "nodes": [
            "66ff64ed99c3f7ec",
            "a98228a2a07109d2",
            "c64d06e8e4348b74",
            "98d7ffc247cdf07b",
            "eb2afa5b35f7122a"
        ],
        "x": 14,
        "y": 479,
        "w": 852,
        "h": 142
    },
    {
        "id": "8273a5e98715da97",
        "type": "group",
        "z": "86b8da3f4ad42a15",
        "name": "Insert Data to the Database",
        "style": {
            "label": true
        },
        "nodes": [
            "98eca6719bf778da",
            "e7535d039a999e1c",
            "975dad1b7897d243",
            "6f64355d00beca56",
            "3d822930a8b4e882",
            "daa5d817616c1542"
        ],
        "x": 1154,
        "y": 479,
        "w": 792,
        "h": 122
    },
    {
        "id": "92caf10b2e92a10c",
        "type": "group",
        "z": "86b8da3f4ad42a15",
        "name": "Worldmap",
        "style": {
            "label": true
        },
        "nodes": [
            "16d312b98138dd44",
            "7ed08d4a75e6aca1",
            "0c0b1c3a1355f0a0",
            "0699f86a85c70648",
            "95d9f89df9679efa",
            "9bd907febd1aa8ef",
            "5bae83a5992046d2",
            "0f67331fbefb731d",
            "397fe242add824e4",
            "1819307e716ba23b",
            "7aef1b4f1a4796b4",
            "91349c10f08dac35",
            "f1d287a0ba0489d2",
            "26c12e6a44ea2b5c",
            "ce490f5b78971369",
            "dfeffa0b7d544ebf",
            "670ed9b77c76fd89",
            "ee536e227dd645d3",
            "412a0709658d493f",
            "ff627e2f01676d01",
            "c7f76f2ce367fccf",
            "12c5a403e7f5fb2c",
            "998bd5e87facf337",
            "c1e85a25e114ce74",
            "f4a25dcc8acf853c",
            "4d29c266f593eb60",
            "c8a8b22532b86645"
        ],
        "x": 14,
        "y": 639,
        "w": 1792,
        "h": 302
    },
    {
        "id": "c1eac24784e6a568",
        "type": "group",
        "z": "86b8da3f4ad42a15",
        "name": "Charts",
        "style": {
            "label": true
        },
        "nodes": [
            "738689f74e6a44ec",
            "32d4a873ef4662a8",
            "85bcb52a0dbc8be5",
            "bbec3694f81d9173",
            "918adff91eb9b648",
            "de76e90f539f4fe6",
            "065b3b00c6de6187",
            "af0bb4bae23a5876",
            "3abd3d22d4864e72",
            "c87aeef2a42bc928",
            "7f56ce80952c6879"
        ],
        "x": 1994,
        "y": 579,
        "w": 732,
        "h": 242
    },
    {
        "id": "a9c05bdebad8be0d",
        "type": "group",
        "z": "86b8da3f4ad42a15",
        "name": "Predictions",
        "style": {
            "label": true
        },
        "nodes": [
            "c40c78abbda1d43f",
            "1d8d53b2703eb9af",
            "a97f23806ee0bcea",
            "3c3559d62d580fb5",
            "7a7d4b75bfdabc7b",
            "08366c7db5fc54cd",
            "fb47a27bf051f9bd",
            "94dfae9c2480ce45",
            "ce0c227e2335e6e6",
            "8d6284f54779716c",
            "c38aad1ae6edbd8f",
            "7f83f37dd7a1087e",
            "4d4bde92b40ee320",
            "112e87fbdcdc29d7",
            "496833b985bdf427",
            "9676813cb557dc18",
            "b529948867dcdfc9",
            "701ae4e3abd0e656",
            "dcd9d180511ea08c",
            "f0a4fa2847891864",
            "ca6c133afa62d0c7"
        ],
        "x": 174,
        "y": 979,
        "w": 1092,
        "h": 382
    },
    {
        "id": "412a0709658d493f",
        "type": "junction",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "x": 1540,
        "y": 780,
        "wires": [
            [
                "16d312b98138dd44",
                "ee536e227dd645d3"
            ]
        ]
    },
    {
        "id": "97f588bc3b33d372",
        "type": "ui-theme",
        "name": "Earthquakes",
        "colors": {
            "surface": "#383838",
            "primary": "#fbff24",
            "bgPage": "#000000",
            "groupBg": "#424242",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "988c63decab06e67",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-form",
            "ui-text-input",
            "ui-number-input",
            "ui-file-input",
            "ui-button",
            "ui-button-group",
            "ui-dropdown",
            "ui-radio-group",
            "ui-slider",
            "ui-switch",
            "ui-text",
            "ui-table",
            "ui-chart",
            "ui-gauge",
            "ui-audio",
            "ui-template",
            "ui-markdown",
            "ui-chat",
            "ui-progress",
            "ui-iframe"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "a858647a745af8d6",
        "type": "ui-page",
        "name": "Earthquakes",
        "ui": "988c63decab06e67",
        "path": "/earthquakes",
        "icon": "home",
        "layout": "grid",
        "theme": "97f588bc3b33d372",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f96033b41d6aa7d5",
        "type": "ui-group",
        "name": "Past Chart",
        "page": "a858647a745af8d6",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "16d4a1a2cd890e9a",
        "type": "ui-group",
        "name": "Past Earthquakes Map",
        "page": "a858647a745af8d6",
        "width": "6",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4900ab4632433dde",
        "type": "ui-group",
        "name": "Predictions",
        "page": "a858647a745af8d6",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ac4e7c3aee584757",
        "type": "MySQLdatabase",
        "z": "86b8da3f4ad42a15",
        "name": "localtest",
        "host": "${db_address}",
        "port": "${db_port}",
        "db": "${db_database}",
        "tz": "",
        "charset": "UTF8MB4"
    },
    {
        "id": "c6ecd55df661f530",
        "type": "ui-group",
        "name": "Prediction Chart",
        "page": "a858647a745af8d6",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "66ff64ed99c3f7ec",
        "type": "http request",
        "z": "86b8da3f4ad42a15",
        "g": "dafe7708d18845db",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 520,
        "wires": [
            [
                "c64d06e8e4348b74"
            ]
        ]
    },
    {
        "id": "a98228a2a07109d2",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "dafe7708d18845db",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "INSERT INTO earthquakespast (id, mag, place, time, updated, tz, url, detail, felt, di, mmi, alert, status, tsunami, sig, net, code, ids, sources, types, nst, dmin, rms, gap, magType, type, longitude, latitude, depth ) VALUES (:id, :mag, :place, :time, :updated, :tz, :url, :detail, :felt, :cdi, :mmi, :alert, :status, :tsunami, :sig, :net, :code, :ids, :sources, :types, :nst, :dmin, :rms, :gap, :magType, :type, :longitude, :latitude, :depth ) ON DUPLICATE KEY UPDATE id =:id, mag =:mag, place =:place, time =:time, updated =:updated, tz =:tz, url =:url, detail =:detail, felt =:felt, di =:cdi, mmi =:mmi, alert =:alert, status =:status, tsunami =:tsunami, sig =:sig, net =:net, code =:code, ids =:ids, sources =:sources, types =:types, nst =:nst, dmin =:dmin, rms =:rms, gap =:gap, magType =:magType, type =:type, longitude =:longitude, latitude =:latitude, depth =:depth ;",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "66ff64ed99c3f7ec",
                "9676813cb557dc18"
            ]
        ]
    },
    {
        "id": "c64d06e8e4348b74",
        "type": "json",
        "z": "86b8da3f4ad42a15",
        "g": "dafe7708d18845db",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "98d7ffc247cdf07b"
            ]
        ]
    },
    {
        "id": "2fdfbc60f964738c",
        "type": "http request",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "a6c9a2b12a0f0d0a"
            ]
        ]
    },
    {
        "id": "98d7ffc247cdf07b",
        "type": "switch",
        "z": "86b8da3f4ad42a15",
        "g": "dafe7708d18845db",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "98eca6719bf778da"
            ],
            [
                "eb2afa5b35f7122a"
            ]
        ]
    },
    {
        "id": "a6c9a2b12a0f0d0a",
        "type": "json",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "b802a680815b87fd"
            ]
        ]
    },
    {
        "id": "b802a680815b87fd",
        "type": "switch",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "98eca6719bf778da"
            ],
            [
                "8c287839d139b242"
            ]
        ]
    },
    {
        "id": "498f8eac1777b3ba",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "a36355f0d94765e8",
        "name": "create earthquakespast",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.11",
        "topic": "CREATE TABLE earthquakespast (id VARCHAR(50) PRIMARY KEY, mag DECIMAL(4,2),place TEXT,time BIGINT,updated BIGINT,tz INT,url TEXT,detail TEXT,felt INT,di DECIMAL(4,2),mmi DECIMAL(4,2),alert VARCHAR(20),status VARCHAR(20),tsunami TINYINT,     sig INT,     net VARCHAR(10),     code VARCHAR(20),     ids TEXT,     sources TEXT,     types TEXT,     nst INT,     dmin DECIMAL(6,3),     rms DECIMAL(4,2),     gap DECIMAL(5,2),     magType VARCHAR(10),     type VARCHAR(20), longitude DECIMAL(10,6),     latitude DECIMAL(10,6),     depth DECIMAL(6,2) ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "fad8d974073e6746"
            ]
        ]
    },
    {
        "id": "d1e4e7dab5428bdf",
        "type": "debug",
        "z": "86b8da3f4ad42a15",
        "g": "a36355f0d94765e8",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "7d2025e1ba02e2e1",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "a36355f0d94765e8",
        "name": "create earthquakesfuture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.11",
        "topic": "CREATE TABLE earthquakesfuture (id VARCHAR(50) PRIMARY KEY, mag DECIMAL(4,2),place TEXT,time BIGINT,updated BIGINT,tz INT,url TEXT,detail TEXT,felt INT,di DECIMAL(4,2),mmi DECIMAL(4,2),alert VARCHAR(20),status VARCHAR(20),tsunami TINYINT,     sig INT,     net VARCHAR(10),     code VARCHAR(20),     ids TEXT,     sources TEXT,     types TEXT,     nst INT,     dmin DECIMAL(6,3),     rms DECIMAL(4,2),     gap DECIMAL(5,2),     magType VARCHAR(10),     type VARCHAR(20), longitude DECIMAL(10,6),     latitude DECIMAL(10,6),     depth DECIMAL(6,2) ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "fad8d974073e6746"
            ]
        ]
    },
    {
        "id": "98eca6719bf778da",
        "type": "split",
        "z": "86b8da3f4ad42a15",
        "g": "8273a5e98715da97",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.features",
        "x": 1230,
        "y": 560,
        "wires": [
            [
                "975dad1b7897d243"
            ]
        ]
    },
    {
        "id": "e7535d039a999e1c",
        "type": "json",
        "z": "86b8da3f4ad42a15",
        "g": "8273a5e98715da97",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1550,
        "y": 560,
        "wires": [
            [
                "3d822930a8b4e882"
            ]
        ]
    },
    {
        "id": "975dad1b7897d243",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "8273a5e98715da97",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.features",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 560,
        "wires": [
            [
                "e7535d039a999e1c"
            ]
        ]
    },
    {
        "id": "3d822930a8b4e882",
        "type": "function",
        "z": "86b8da3f4ad42a15",
        "g": "8273a5e98715da97",
        "name": "function 32",
        "func": "const data = msg.payload;\nmsg.payload = { 'id': data.id, ...data.properties, 'longitude': data.geometry.coordinates[0], 'latitude': data.geometry.coordinates[1], 'depth': data.geometry.coordinates[2] }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 560,
        "wires": [
            [
                "6f64355d00beca56",
                "daa5d817616c1542"
            ]
        ]
    },
    {
        "id": "738689f74e6a44ec",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            },
            {
                "p": "series",
                "v": "Magnitude",
                "vt": "str"
            },
            {
                "p": "avgCount",
                "v": "500",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "select time as 'x', mag as 'y' from earthquakespast where time > :time - 754800000 order by x asc",
        "x": 2150,
        "y": 660,
        "wires": [
            [
                "065b3b00c6de6187"
            ]
        ]
    },
    {
        "id": "32d4a873ef4662a8",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "name": "Reset Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 2470,
        "y": 660,
        "wires": [
            [
                "3abd3d22d4864e72"
            ]
        ]
    },
    {
        "id": "947aa333234479d2",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "select count(id) from earthquakespast where time < :time - 3600000 and time > :time - 86400000",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "4eb35805dd87a390"
            ]
        ]
    },
    {
        "id": "a677b8a49f889e69",
        "type": "switch",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "name": "",
        "property": "payload[0].count(id)",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "05c96568304476ea"
            ],
            []
        ]
    },
    {
        "id": "05c96568304476ea",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "INSERT INTO earthquakespast (id, mag, place, time, updated, tz, url, detail, felt, di, mmi, alert, status, tsunami, sig, net, code, ids, sources, types, nst, dmin, rms, gap, magType, type, longitude, latitude, depth ) VALUES (:id, :mag, :place, :time, :updated, :tz, :url, :detail, :felt, :cdi, :mmi, :alert, :status, :tsunami, :sig, :net, :code, :ids, :sources, :types, :nst, :dmin, :rms, :gap, :magType, :type, :longitude, :latitude, :depth ) ON DUPLICATE KEY UPDATE id =:id, mag =:mag, place =:place, time =:time, updated =:updated, tz =:tz, url =:url, detail =:detail, felt =:felt, di =:cdi, mmi =:mmi, alert =:alert, status =:status, tsunami =:tsunami, sig =:sig, net =:net, code =:code, ids =:ids, sources =:sources, types =:types, nst =:nst, dmin =:dmin, rms =:rms, gap =:gap, magType =:magType, type =:type, longitude =:longitude, latitude =:latitude, depth =:depth ;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "2fdfbc60f964738c"
            ]
        ]
    },
    {
        "id": "0c0b1c3a1355f0a0",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 490,
        "y": 720,
        "wires": [
            [
                "7aef1b4f1a4796b4"
            ]
        ]
    },
    {
        "id": "95d9f89df9679efa",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.features",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "FeatureCollection",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "earthquakes",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "{\"showlayer\":\"earthquakes\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 780,
        "wires": [
            [
                "412a0709658d493f"
            ]
        ]
    },
    {
        "id": "9bd907febd1aa8ef",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.limit",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select \"Feature\" as 'type', JSON_OBJECT('name', place, 'time', FROM_UNIXTIME(time/1000, '%Y-%m-%d %H.%i.%s'), 'magnitude', mag) as 'properties', JSON_OBJECT('type',\"Point\", 'coordinates',JSON_ARRAY(longitude, latitude, depth)) as 'geometry' from earthquakespast where time > :time - 604800000 order by time desc limit :limit",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 780,
        "wires": [
            [
                "0699f86a85c70648"
            ]
        ]
    },
    {
        "id": "eb2afa5b35f7122a",
        "type": "delay",
        "z": "86b8da3f4ad42a15",
        "g": "dafe7708d18845db",
        "name": "",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "10",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 580,
        "wires": [
            [
                "66ff64ed99c3f7ec"
            ]
        ]
    },
    {
        "id": "8c287839d139b242",
        "type": "delay",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "name": "",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "10",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1250,
        "y": 400,
        "wires": [
            [
                "2fdfbc60f964738c"
            ]
        ]
    },
    {
        "id": "85bcb52a0dbc8be5",
        "type": "function",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "name": "function 33",
        "func": "const data = msg.payload.map(a => { return { ...a } })\nconst oldSeries = msg.series\nconst avgCount = msg.avgCount\nfor (let i = 0; i < data.length; i++) {\n    let sum = 0.0\n    for (let j = Math.max(0, i - avgCount); j <= Math.max(i, avgCount); j++) {\n        sum = sum + parseFloat(data[j].y ?? 0)\n    }\n    msg.payload[i].y = [sum / avgCount, data[i].y ?? 0]\n    msg.payload[i].sum = sum\n    msg.payload[i].start = Math.max(i, avgCount) - Math.max(0, i - avgCount)\n    msg.payload[i].end = avgCount\n}\nmsg.series = [\"Average\",oldSeries]\n// node.send(msg)\n// msg.payload = data\n// msg.series = oldSeries\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 620,
        "wires": [
            [
                "3abd3d22d4864e72"
            ]
        ]
    },
    {
        "id": "82d9b1544391f0cf",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "name": "Inject without check",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "05c96568304476ea"
            ]
        ]
    },
    {
        "id": "0f67331fbefb731d",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select * from earthquakespast order by time desc limit 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 840,
        "wires": [
            [
                "397fe242add824e4"
            ]
        ]
    },
    {
        "id": "1819307e716ba23b",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command.lat",
                "pt": "msg",
                "to": "temp[0].latitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command.lon",
                "pt": "msg",
                "to": "temp[0].longitude",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "temp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 840,
        "wires": [
            [
                "412a0709658d493f"
            ]
        ]
    },
    {
        "id": "7aef1b4f1a4796b4",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "limit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "f1d287a0ba0489d2",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "limit",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 840,
        "wires": [
            [
                "5bae83a5992046d2"
            ]
        ]
    },
    {
        "id": "26c12e6a44ea2b5c",
        "type": "switch",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "property": "limitUser[msg._sessionip]",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 780,
        "wires": [
            [
                "dfeffa0b7d544ebf"
            ],
            [
                "f1d287a0ba0489d2"
            ]
        ]
    },
    {
        "id": "ce490f5b78971369",
        "type": "switch",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 780,
        "wires": [
            [
                "9bd907febd1aa8ef",
                "670ed9b77c76fd89"
            ]
        ]
    },
    {
        "id": "dfeffa0b7d544ebf",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "limitUser[msg._sessionip]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 780,
        "wires": [
            [
                "5bae83a5992046d2"
            ]
        ]
    },
    {
        "id": "670ed9b77c76fd89",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "limitUser[msg._sessionip]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ee536e227dd645d3",
        "type": "debug",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 720,
        "wires": []
    },
    {
        "id": "ff627e2f01676d01",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "{\"button\":[{\"name\":\"Set Markers\",\"icon\":\"fa-map-marker\",\"position\":\"bottomright\"},{\"name\":\"Reset\",\"icon\":\"fa-undo\",\"position\":\"bottomright\"},{\"name\":\"Last Pin\",\"icon\":\"fa-clock-o\",\"position\":\"bottomright\"}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 680,
        "wires": [
            [
                "412a0709658d493f"
            ]
        ]
    },
    {
        "id": "bbec3694f81d9173",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            },
            {
                "p": "series",
                "v": "Magnitude",
                "vt": "str"
            },
            {
                "p": "avgCount",
                "v": "500",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "select time as 'x', mag as 'y' from earthquakesfuture where time > :time - 754800000 order by x asc",
        "x": 2150,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "918adff91eb9b648",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "name": "Reset Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 2470,
        "y": 780,
        "wires": [
            [
                "c87aeef2a42bc928"
            ]
        ]
    },
    {
        "id": "de76e90f539f4fe6",
        "type": "function",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "name": "function 34",
        "func": "const data = msg.payload.map(a => { return { ...a } })\nconst oldSeries = msg.series\nconst avgCount = msg.avgCount\nfor (let i = 0; i < data.length; i++) {\n    let sum = 0.0\n    for (let j = Math.max(0, i - avgCount); j <= Math.max(i, avgCount); j++) {\n        sum = sum + parseFloat(data[j].y ?? 0)\n    }\n    msg.payload[i].y = sum / avgCount\n    msg.payload[i].sum = sum\n    msg.payload[i].start = Math.max(i, avgCount) - Math.max(0, i - avgCount)\n    msg.payload[i].end = avgCount\n}\nmsg.series = \"Average\"\nnode.send(msg)\nmsg.payload = data\nmsg.series = oldSeries\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 740,
        "wires": [
            [
                "c87aeef2a42bc928"
            ]
        ]
    },
    {
        "id": "499ef6fb561916fb",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "a36355f0d94765e8",
        "name": "drop earthquakesfuture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE earthquakesfuture;",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "fad8d974073e6746"
            ]
        ]
    },
    {
        "id": "fad8d974073e6746",
        "type": "mysql",
        "z": "86b8da3f4ad42a15",
        "g": "a36355f0d94765e8",
        "mydb": "ac4e7c3aee584757",
        "name": "",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "d1e4e7dab5428bdf"
            ]
        ]
    },
    {
        "id": "6f64355d00beca56",
        "type": "mysql",
        "z": "86b8da3f4ad42a15",
        "g": "8273a5e98715da97",
        "mydb": "ac4e7c3aee584757",
        "name": "",
        "x": 1840,
        "y": 560,
        "wires": [
            [
                "7f56ce80952c6879"
            ]
        ]
    },
    {
        "id": "065b3b00c6de6187",
        "type": "mysql",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "mydb": "ac4e7c3aee584757",
        "name": "",
        "x": 2300,
        "y": 620,
        "wires": [
            [
                "85bcb52a0dbc8be5"
            ]
        ]
    },
    {
        "id": "4eb35805dd87a390",
        "type": "mysql",
        "z": "86b8da3f4ad42a15",
        "g": "f2faf364937c04c7",
        "mydb": "ac4e7c3aee584757",
        "name": "",
        "x": 260,
        "y": 340,
        "wires": [
            [
                "a677b8a49f889e69"
            ]
        ]
    },
    {
        "id": "0699f86a85c70648",
        "type": "mysql",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "mydb": "ac4e7c3aee584757",
        "name": "",
        "x": 1240,
        "y": 780,
        "wires": [
            [
                "95d9f89df9679efa"
            ]
        ]
    },
    {
        "id": "397fe242add824e4",
        "type": "mysql",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "mydb": "ac4e7c3aee584757",
        "name": "",
        "x": 1240,
        "y": 840,
        "wires": [
            [
                "1819307e716ba23b"
            ]
        ]
    },
    {
        "id": "af0bb4bae23a5876",
        "type": "mysql",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "mydb": "ac4e7c3aee584757",
        "name": "",
        "x": 2300,
        "y": 740,
        "wires": [
            [
                "de76e90f539f4fe6"
            ]
        ]
    },
    {
        "id": "16d312b98138dd44",
        "type": "worldmap",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "showruler": "true",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,TL,HM",
        "maplist": "OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB,AN,ST,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1720,
        "y": 780,
        "wires": []
    },
    {
        "id": "91349c10f08dac35",
        "type": "worldmap in",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "path": "/worldmap",
        "events": "connect",
        "x": 100,
        "y": 780,
        "wires": [
            [
                "26c12e6a44ea2b5c",
                "ff627e2f01676d01"
            ]
        ]
    },
    {
        "id": "5bae83a5992046d2",
        "type": "ui-number-input",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "group": "16d4a1a2cd890e9a",
        "name": "",
        "label": "Number of Pins",
        "order": 2,
        "width": 1,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000000",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": false,
        "sendOnEnter": false,
        "className": "",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 680,
        "y": 780,
        "wires": [
            [
                "ce490f5b78971369",
                "4d29c266f593eb60",
                "c8a8b22532b86645"
            ]
        ]
    },
    {
        "id": "3abd3d22d4864e72",
        "type": "ui-chart",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "group": "f96033b41d6aa7d5",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "series",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "-1",
        "ymax": "7",
        "bins": "",
        "action": "replace",
        "stackSeries": true,
        "pointShape": "false",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "604800",
        "removeOlderPoints": "10000",
        "colors": [
            "#ff0000",
            "#0095ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 14,
        "className": "",
        "interpolation": "linear",
        "x": 2650,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c87aeef2a42bc928",
        "type": "ui-chart",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "group": "c6ecd55df661f530",
        "name": "",
        "label": "chart",
        "order": 1,
        "chartType": "line",
        "category": "series",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "-3",
        "ymax": "4",
        "bins": "",
        "action": "append",
        "stackSeries": true,
        "pointShape": "false",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": "100000",
        "removeOlderUnit": "604800",
        "removeOlderPoints": "10000",
        "colors": [
            "#ff0000",
            "#0095ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 14,
        "className": "",
        "interpolation": "linear",
        "x": 2650,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "7ed08d4a75e6aca1",
        "type": "ui-iframe",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "group": "16d4a1a2cd890e9a",
        "order": 1,
        "src": "/worldmap",
        "width": 6,
        "height": 13,
        "x": 1710,
        "y": 840,
        "wires": []
    },
    {
        "id": "daa5d817616c1542",
        "type": "debug",
        "z": "86b8da3f4ad42a15",
        "g": "8273a5e98715da97",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 520,
        "wires": []
    },
    {
        "id": "3f31cf0f92eeb707",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "a36355f0d94765e8",
        "name": "drop earthquakesfuture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE earthquakespast;",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "fad8d974073e6746"
            ]
        ]
    },
    {
        "id": "c7f76f2ce367fccf",
        "type": "worldmap in",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "path": "/worldmap",
        "events": "disconnect",
        "x": 100,
        "y": 880,
        "wires": [
            [
                "12c5a403e7f5fb2c"
            ]
        ]
    },
    {
        "id": "12c5a403e7f5fb2c",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "limitUser[msg._sessionip]",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "998bd5e87facf337",
        "type": "worldmap in",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "path": "/worldmap",
        "events": "other",
        "x": 100,
        "y": 700,
        "wires": [
            [
                "c1e85a25e114ce74"
            ]
        ]
    },
    {
        "id": "c1e85a25e114ce74",
        "type": "switch",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Set Markers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Reset",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Last Pin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "26c12e6a44ea2b5c"
            ],
            [
                "4d29c266f593eb60"
            ],
            [
                "c8a8b22532b86645"
            ]
        ]
    },
    {
        "id": "f4a25dcc8acf853c",
        "type": "inject",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "{\"showlayer\":\"earthquakes\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"FeatureCollection\",\"name\":\"earthquakes\",\"layer\":\"earthquakes\",\"features\":[{\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-122.33,47.6]},\"properties\":{\"name\":\"Seattle\",\"magnitude\":4.5}}]}",
        "payloadType": "json",
        "x": 1430,
        "y": 900,
        "wires": [
            [
                "412a0709658d493f"
            ]
        ]
    },
    {
        "id": "7f56ce80952c6879",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "c1eac24784e6a568",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select time as 'x', mag as 'y' from earthquakespast where time > :time - 754800000 order by x asc",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "series",
                "pt": "msg",
                "to": "Magnitude",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "avgCount",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 620,
        "wires": [
            [
                "065b3b00c6de6187"
            ]
        ]
    },
    {
        "id": "4d29c266f593eb60",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"clearlayer\":\"earthquakes\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 720,
        "wires": [
            [
                "412a0709658d493f"
            ]
        ]
    },
    {
        "id": "c8a8b22532b86645",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "92caf10b2e92a10c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 840,
        "wires": [
            [
                "0f67331fbefb731d",
                "9bd907febd1aa8ef"
            ]
        ]
    },
    {
        "id": "c40c78abbda1d43f",
        "type": "ui-button",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "group": "4900ab4632433dde",
        "name": "Create Prediction",
        "label": "",
        "order": 4,
        "width": 1,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-trending-up",
        "iconPosition": "left",
        "payload": "ButtonPressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 1080,
        "wires": [
            [
                "4d4bde92b40ee320"
            ]
        ]
    },
    {
        "id": "1d8d53b2703eb9af",
        "type": "http request",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://${backendIP}:8000/predict/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "a97f23806ee0bcea",
        "type": "ui-number-input",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "group": "4900ab4632433dde",
        "name": "Number of Earthquakes",
        "label": "Number of Earthquakes",
        "order": 1,
        "width": 5,
        "height": 0,
        "topic": "number",
        "topicType": "str",
        "min": "1",
        "max": "10000",
        "step": 1,
        "tooltip": "",
        "passthru": false,
        "sendOnBlur": false,
        "sendOnEnter": false,
        "className": "",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 310,
        "y": 1200,
        "wires": [
            [
                "112e87fbdcdc29d7"
            ]
        ]
    },
    {
        "id": "3c3559d62d580fb5",
        "type": "ui-dropdown",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "group": "4900ab4632433dde",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 5,
        "width": 5,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 960,
        "y": 1020,
        "wires": [
            [
                "7f83f37dd7a1087e"
            ]
        ]
    },
    {
        "id": "d9df0257f3a3088d",
        "type": "catch",
        "z": "86b8da3f4ad42a15",
        "g": "a36355f0d94765e8",
        "name": "",
        "scope": "group",
        "uncaught": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "48c2be63ba892ced"
            ]
        ]
    },
    {
        "id": "48c2be63ba892ced",
        "type": "debug",
        "z": "86b8da3f4ad42a15",
        "g": "a36355f0d94765e8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "7a7d4b75bfdabc7b",
        "type": "catch",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "scope": "group",
        "uncaught": false,
        "x": 270,
        "y": 1320,
        "wires": [
            [
                "08366c7db5fc54cd"
            ]
        ]
    },
    {
        "id": "08366c7db5fc54cd",
        "type": "debug",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1320,
        "wires": []
    },
    {
        "id": "fb47a27bf051f9bd",
        "type": "ui-button",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "group": "4900ab4632433dde",
        "name": "Learn",
        "label": "",
        "order": 2,
        "width": 1,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-brain",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 1140,
        "wires": [
            [
                "f0a4fa2847891864"
            ]
        ]
    },
    {
        "id": "94dfae9c2480ce45",
        "type": "http request",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://${backendIP}:8000/learn/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "ce0c227e2335e6e6",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select distinct SUBSTRING_INDEX(id, \"_\", 1) as \"value\" from earthquakesfuture",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "8d6284f54779716c"
            ]
        ]
    },
    {
        "id": "8d6284f54779716c",
        "type": "mysql",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "mydb": "ac4e7c3aee584757",
        "name": "",
        "x": 580,
        "y": 1020,
        "wires": [
            [
                "c38aad1ae6edbd8f"
            ]
        ]
    },
    {
        "id": "c38aad1ae6edbd8f",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "options",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1020,
        "wires": [
            [
                "3c3559d62d580fb5"
            ]
        ]
    },
    {
        "id": "7f83f37dd7a1087e",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select time as 'x', mag as 'y' from earthquakesfuture where id LIKE CONCAT(:id, '_', '%') and time > :time - 754800000 order by x asc",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "tmp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "tmp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "delete",
                "p": "tmp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "af0bb4bae23a5876"
            ]
        ]
    },
    {
        "id": "4d4bde92b40ee320",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "numberOfEarthquakes[msg._client.socketIp]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "496833b985bdf427"
            ]
        ]
    },
    {
        "id": "112e87fbdcdc29d7",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "numberOfEarthquakes[msg._client.socketIp]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "496833b985bdf427",
        "type": "switch",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 1080,
        "wires": [
            [
                "1d8d53b2703eb9af"
            ],
            [
                "ca6c133afa62d0c7"
            ]
        ]
    },
    {
        "id": "9676813cb557dc18",
        "type": "ui-button",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "group": "4900ab4632433dde",
        "name": "Refresh",
        "label": "",
        "order": 6,
        "width": 1,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-refresh",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 260,
        "y": 1020,
        "wires": [
            [
                "ce0c227e2335e6e6"
            ]
        ]
    },
    {
        "id": "b529948867dcdfc9",
        "type": "ui-number-input",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "group": "4900ab4632433dde",
        "name": "Number of Earthquakes",
        "label": "Number of Earthquakes",
        "order": 3,
        "width": 5,
        "height": 0,
        "topic": "number",
        "topicType": "str",
        "min": "1",
        "max": "10000",
        "step": 1,
        "tooltip": "",
        "passthru": false,
        "sendOnBlur": false,
        "sendOnEnter": false,
        "className": "",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 310,
        "y": 1260,
        "wires": [
            [
                "701ae4e3abd0e656"
            ]
        ]
    },
    {
        "id": "701ae4e3abd0e656",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "numberOfEarthquakesPast[msg._client.socketIp]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "dcd9d180511ea08c",
        "type": "switch",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1140,
        "wires": [
            [
                "94dfae9c2480ce45"
            ]
        ]
    },
    {
        "id": "f0a4fa2847891864",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "numberOfEarthquakesPast[msg._client.socketIp]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1140,
        "wires": [
            [
                "dcd9d180511ea08c"
            ]
        ]
    },
    {
        "id": "ca6c133afa62d0c7",
        "type": "change",
        "z": "86b8da3f4ad42a15",
        "g": "a9c05bdebad8be0d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1100,
        "wires": [
            [
                "1d8d53b2703eb9af"
            ]
        ]
    }
]