Node-Red-Template/flows.json
[
    {
        "id": "504c863383fa15c4",
        "type": "tab",
        "label": "EarthquakePredictor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd7d4e242b628030",
        "type": "group",
        "z": "504c863383fa15c4",
        "name": "Create Tables",
        "style": {
            "label": true
        },
        "nodes": [
            "07ba229d262a7ff4",
            "46dc8fbd302b7403",
            "fc7b88ad43a0b098",
            "9a0df11ec93d0b3e",
            "ca0a41a852fb6d4d",
            "3eb83e855415e96a",
            "b4ccb2f5067864c4",
            "bf9ac40a676743ba"
        ],
        "x": 14,
        "y": 79,
        "w": 712,
        "h": 202
    },
    {
        "id": "ccbeca28aff4165f",
        "type": "group",
        "z": "504c863383fa15c4",
        "name": "Data YTD",
        "style": {
            "label": true
        },
        "nodes": [
            "ad0c2e5970ffaf23",
            "04ed74fb76e70f8b",
            "b8813119b4fc76e4",
            "18a46c8656517c1f",
            "53e61a94b0313c08",
            "e326243ed67d58c7",
            "49e38b6144cd5100",
            "89752e2b70bb6fc6",
            "624374fbfd58b473"
        ],
        "x": 14,
        "y": 299,
        "w": 1312,
        "h": 142
    },
    {
        "id": "31d07c119aca0433",
        "type": "group",
        "z": "504c863383fa15c4",
        "name": "Current Data",
        "style": {
            "label": true
        },
        "nodes": [
            "bb636e2d8f9e53ac",
            "b0447f1a271f6efd",
            "961a3837d5a6b5e3",
            "1a6a73645d79c40b",
            "e74d3dc8607418e8"
        ],
        "x": 14,
        "y": 479,
        "w": 852,
        "h": 142
    },
    {
        "id": "b209b03d5458705a",
        "type": "group",
        "z": "504c863383fa15c4",
        "name": "Insert Data to the Database",
        "style": {
            "label": true
        },
        "nodes": [
            "44eed01ed22b73bf",
            "08d4b087739d6faf",
            "1c9e669880fc8b0b",
            "a9d8fd243739f9aa",
            "0f5af371dd3244e4",
            "a99e3ed886cc6f7b"
        ],
        "x": 1154,
        "y": 479,
        "w": 792,
        "h": 122
    },
    {
        "id": "591a1050a9e6bb73",
        "type": "group",
        "z": "504c863383fa15c4",
        "name": "Worldmap",
        "style": {
            "label": true
        },
        "nodes": [
            "7cf1a70cee2b4126",
            "14a0a19d6291f621",
            "c026129eda870874",
            "682c26c6653d7865",
            "112649b1f28c1665",
            "53b60e8ca3ea7484",
            "fd74d91d95c3ddb7",
            "8fdf57491d1f0e4d",
            "cc6662b0fe70d384",
            "35bc04e0ed2a9a1d",
            "3348a7c3452279f4",
            "1a0a366f39023a09",
            "a114e80b22896c69",
            "df534c58efbcd404",
            "28929d51ab6e52bf",
            "29d912ad4a197efa",
            "76aa2a6cc334663b",
            "5890b8901f42b8ac",
            "a44c264c16d6b87d",
            "d10f39eb27ee2292",
            "faf0b7d6d0bb765f",
            "11dc7eab56e8a74b",
            "3738cb74338b0a34",
            "455b7fa39c0f5391",
            "c189880edf91ec53",
            "10a9d36507a2284a",
            "e272f3f3d9b49206"
        ],
        "x": 14,
        "y": 639,
        "w": 1792,
        "h": 302
    },
    {
        "id": "dc4511ec3f443d40",
        "type": "group",
        "z": "504c863383fa15c4",
        "name": "Charts",
        "style": {
            "label": true
        },
        "nodes": [
            "ed10070ded88b4eb",
            "cb0c8177fa0b901d",
            "04164fb4776f0102",
            "fe69674878bd52d6",
            "47d48d922600b18f",
            "5f937b165c881cb5",
            "9cdd47b1794198e2",
            "ca0fac6b93993696",
            "c4f7108b9a885f2e",
            "97bc10d240d9e32e",
            "1e33ee4ee2a957d3"
        ],
        "x": 1994,
        "y": 579,
        "w": 832,
        "h": 242
    },
    {
        "id": "4bd19be479da9d08",
        "type": "group",
        "z": "504c863383fa15c4",
        "name": "Predictions",
        "style": {
            "label": true
        },
        "nodes": [
            "833dde26bacfae5b",
            "ac83355695171863",
            "9a22c8e81426bc87",
            "4deb0a88052edde7",
            "1e1ac4f948ace0fd",
            "42b6ab6969d2faf2",
            "b70a6a9f6590aeb1",
            "58dee7c634cdbcd7",
            "cacb51903b7d1a75",
            "fc39627cdc7dc352",
            "9fe79caa805572b3",
            "99676125875e5829",
            "84730c40af0b7c08",
            "6a633ec6c475dfe0",
            "b28a8dd8240d9f37",
            "21ea7cd8842ffa11",
            "4cade0a28a5f20fe",
            "f981af2c3bfa3a45",
            "65c6d0c17edd7009",
            "14c177015ccb17b9",
            "49c0ce3562895836",
            "ad51c38d995e3c07"
        ],
        "x": 174,
        "y": 979,
        "w": 1232,
        "h": 382
    },
    {
        "id": "a44c264c16d6b87d",
        "type": "junction",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "x": 1540,
        "y": 780,
        "wires": [
            [
                "7cf1a70cee2b4126",
                "5890b8901f42b8ac"
            ]
        ]
    },
    {
        "id": "97f588bc3b33d372",
        "type": "ui-theme",
        "name": "Earthquakes",
        "colors": {
            "surface": "#383838",
            "primary": "#fbff24",
            "bgPage": "#000000",
            "groupBg": "#424242",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "988c63decab06e67",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-form",
            "ui-text-input",
            "ui-number-input",
            "ui-file-input",
            "ui-button",
            "ui-button-group",
            "ui-dropdown",
            "ui-radio-group",
            "ui-slider",
            "ui-switch",
            "ui-text",
            "ui-table",
            "ui-chart",
            "ui-gauge",
            "ui-audio",
            "ui-template",
            "ui-markdown",
            "ui-chat",
            "ui-progress",
            "ui-iframe"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "a858647a745af8d6",
        "type": "ui-page",
        "name": "Earthquakes",
        "ui": "988c63decab06e67",
        "path": "/earthquakes",
        "icon": "home",
        "layout": "grid",
        "theme": "97f588bc3b33d372",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f96033b41d6aa7d5",
        "type": "ui-group",
        "name": "Past Chart",
        "page": "a858647a745af8d6",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "16d4a1a2cd890e9a",
        "type": "ui-group",
        "name": "Past Earthquakes Map",
        "page": "a858647a745af8d6",
        "width": "6",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4900ab4632433dde",
        "type": "ui-group",
        "name": "Predictions",
        "page": "a858647a745af8d6",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c6ecd55df661f530",
        "type": "ui-group",
        "name": "Prediction Chart",
        "page": "a858647a745af8d6",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0bd23af990ce8ed8",
        "type": "MySQLdatabase",
        "z": "504c863383fa15c4",
        "name": "localtest",
        "host": "${db_address}",
        "port": "${db_port}",
        "db": "${db_database}",
        "tz": "",
        "charset": "UTF8MB4"
    },
    {
        "id": "bb636e2d8f9e53ac",
        "type": "http request",
        "z": "504c863383fa15c4",
        "g": "31d07c119aca0433",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 520,
        "wires": [
            [
                "961a3837d5a6b5e3"
            ]
        ]
    },
    {
        "id": "b0447f1a271f6efd",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "31d07c119aca0433",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "1.2",
        "topic": "INSERT INTO earthquakespast (id, mag, place, time, updated, tz, url, detail, felt, di, mmi, alert, status, tsunami, sig, net, code, ids, sources, types, nst, dmin, rms, gap, magType, type, longitude, latitude, depth ) VALUES (:id, :mag, :place, :time, :updated, :tz, :url, :detail, :felt, :cdi, :mmi, :alert, :status, :tsunami, :sig, :net, :code, :ids, :sources, :types, :nst, :dmin, :rms, :gap, :magType, :type, :longitude, :latitude, :depth ) ON DUPLICATE KEY UPDATE id =:id, mag =:mag, place =:place, time =:time, updated =:updated, tz =:tz, url =:url, detail =:detail, felt =:felt, di =:cdi, mmi =:mmi, alert =:alert, status =:status, tsunami =:tsunami, sig =:sig, net =:net, code =:code, ids =:ids, sources =:sources, types =:types, nst =:nst, dmin =:dmin, rms =:rms, gap =:gap, magType =:magType, type =:type, longitude =:longitude, latitude =:latitude, depth =:depth ;",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "bb636e2d8f9e53ac",
                "21ea7cd8842ffa11"
            ]
        ]
    },
    {
        "id": "961a3837d5a6b5e3",
        "type": "json",
        "z": "504c863383fa15c4",
        "g": "31d07c119aca0433",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "1a6a73645d79c40b"
            ]
        ]
    },
    {
        "id": "ad0c2e5970ffaf23",
        "type": "http request",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.geojson",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 340,
        "wires": [
            [
                "04ed74fb76e70f8b"
            ]
        ]
    },
    {
        "id": "1a6a73645d79c40b",
        "type": "switch",
        "z": "504c863383fa15c4",
        "g": "31d07c119aca0433",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "44eed01ed22b73bf"
            ],
            [
                "e74d3dc8607418e8"
            ]
        ]
    },
    {
        "id": "04ed74fb76e70f8b",
        "type": "json",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 340,
        "wires": [
            [
                "b8813119b4fc76e4"
            ]
        ]
    },
    {
        "id": "b8813119b4fc76e4",
        "type": "switch",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "44eed01ed22b73bf"
            ],
            [
                "89752e2b70bb6fc6"
            ]
        ]
    },
    {
        "id": "46dc8fbd302b7403",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "bd7d4e242b628030",
        "name": "create earthquakespast",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.11",
        "topic": "CREATE TABLE earthquakespast (id VARCHAR(50) PRIMARY KEY, mag DECIMAL(4,2),place TEXT,time BIGINT,updated BIGINT,tz INT,url TEXT,detail TEXT,felt INT,di DECIMAL(4,2),mmi DECIMAL(4,2),alert VARCHAR(20),status VARCHAR(20),tsunami TINYINT,     sig INT,     net VARCHAR(10),     code VARCHAR(20),     ids TEXT,     sources TEXT,     types TEXT,     nst INT,     dmin DECIMAL(6,3),     rms DECIMAL(4,2),     gap DECIMAL(5,2),     magType VARCHAR(10),     type VARCHAR(20), longitude DECIMAL(10,6),     latitude DECIMAL(10,6),     depth DECIMAL(6,2) ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "07ba229d262a7ff4"
            ]
        ]
    },
    {
        "id": "fc7b88ad43a0b098",
        "type": "debug",
        "z": "504c863383fa15c4",
        "g": "bd7d4e242b628030",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "9a0df11ec93d0b3e",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "bd7d4e242b628030",
        "name": "create earthquakesfuture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.11",
        "topic": "CREATE TABLE earthquakesfuture (id VARCHAR(50) PRIMARY KEY, mag DECIMAL(4,2),place TEXT,time BIGINT,updated BIGINT,tz INT,url TEXT,detail TEXT,felt INT,di DECIMAL(4,2),mmi DECIMAL(4,2),alert VARCHAR(20),status VARCHAR(20),tsunami TINYINT,     sig INT,     net VARCHAR(10),     code VARCHAR(20),     ids TEXT,     sources TEXT,     types TEXT,     nst INT,     dmin DECIMAL(6,3),     rms DECIMAL(4,2),     gap DECIMAL(5,2),     magType VARCHAR(10),     type VARCHAR(20), longitude DECIMAL(10,6),     latitude DECIMAL(10,6),     depth DECIMAL(6,2) ) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "07ba229d262a7ff4"
            ]
        ]
    },
    {
        "id": "44eed01ed22b73bf",
        "type": "split",
        "z": "504c863383fa15c4",
        "g": "b209b03d5458705a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload.features",
        "x": 1230,
        "y": 560,
        "wires": [
            [
                "1c9e669880fc8b0b"
            ]
        ]
    },
    {
        "id": "08d4b087739d6faf",
        "type": "json",
        "z": "504c863383fa15c4",
        "g": "b209b03d5458705a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1550,
        "y": 560,
        "wires": [
            [
                "0f5af371dd3244e4"
            ]
        ]
    },
    {
        "id": "1c9e669880fc8b0b",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "b209b03d5458705a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.features",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 560,
        "wires": [
            [
                "08d4b087739d6faf"
            ]
        ]
    },
    {
        "id": "0f5af371dd3244e4",
        "type": "function",
        "z": "504c863383fa15c4",
        "g": "b209b03d5458705a",
        "name": "function 32",
        "func": "const data = msg.payload;\nmsg.payload = { 'id': data.id, ...data.properties, 'longitude': data.geometry.coordinates[0], 'latitude': data.geometry.coordinates[1], 'depth': data.geometry.coordinates[2] }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 560,
        "wires": [
            [
                "a9d8fd243739f9aa",
                "a99e3ed886cc6f7b"
            ]
        ]
    },
    {
        "id": "ed10070ded88b4eb",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            },
            {
                "p": "series",
                "v": "Magnitude",
                "vt": "str"
            },
            {
                "p": "avgCount",
                "v": "500",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.3",
        "topic": "select time as 'x', mag as 'y' from earthquakespast where time > :time - 754800000 order by x asc",
        "x": 2150,
        "y": 660,
        "wires": [
            [
                "9cdd47b1794198e2"
            ]
        ]
    },
    {
        "id": "cb0c8177fa0b901d",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "name": "Reset Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 2470,
        "y": 660,
        "wires": [
            [
                "c4f7108b9a885f2e"
            ]
        ]
    },
    {
        "id": "53e61a94b0313c08",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.2",
        "topic": "select count(id) from earthquakespast where time < :time - 3600000 and time > :time - 86400000",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "18a46c8656517c1f"
            ]
        ]
    },
    {
        "id": "e326243ed67d58c7",
        "type": "switch",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "name": "",
        "property": "payload[0].count(id)",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "49e38b6144cd5100"
            ],
            []
        ]
    },
    {
        "id": "49e38b6144cd5100",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "INSERT INTO earthquakespast (id, mag, place, time, updated, tz, url, detail, felt, di, mmi, alert, status, tsunami, sig, net, code, ids, sources, types, nst, dmin, rms, gap, magType, type, longitude, latitude, depth ) VALUES (:id, :mag, :place, :time, :updated, :tz, :url, :detail, :felt, :cdi, :mmi, :alert, :status, :tsunami, :sig, :net, :code, :ids, :sources, :types, :nst, :dmin, :rms, :gap, :magType, :type, :longitude, :latitude, :depth ) ON DUPLICATE KEY UPDATE id =:id, mag =:mag, place =:place, time =:time, updated =:updated, tz =:tz, url =:url, detail =:detail, felt =:felt, di =:cdi, mmi =:mmi, alert =:alert, status =:status, tsunami =:tsunami, sig =:sig, net =:net, code =:code, ids =:ids, sources =:sources, types =:types, nst =:nst, dmin =:dmin, rms =:rms, gap =:gap, magType =:magType, type =:type, longitude =:longitude, latitude =:latitude, depth =:depth ;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "ad0c2e5970ffaf23"
            ]
        ]
    },
    {
        "id": "c026129eda870874",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.2",
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 490,
        "y": 720,
        "wires": [
            [
                "3348a7c3452279f4"
            ]
        ]
    },
    {
        "id": "112649b1f28c1665",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.features",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "FeatureCollection",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.layer",
                "pt": "msg",
                "to": "earthquakes",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "{\"showlayer\":\"earthquakes\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 780,
        "wires": [
            [
                "a44c264c16d6b87d"
            ]
        ]
    },
    {
        "id": "53b60e8ca3ea7484",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.limit",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select \"Feature\" as 'type', JSON_OBJECT('name', place, 'time', FROM_UNIXTIME(time/1000, '%Y-%m-%d %H.%i.%s'), 'magnitude', mag) as 'properties', JSON_OBJECT('type',\"Point\", 'coordinates',JSON_ARRAY(longitude, latitude, depth)) as 'geometry' from earthquakespast where time > :time - 604800000 order by time desc limit :limit",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 780,
        "wires": [
            [
                "682c26c6653d7865"
            ]
        ]
    },
    {
        "id": "e74d3dc8607418e8",
        "type": "delay",
        "z": "504c863383fa15c4",
        "g": "31d07c119aca0433",
        "name": "",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "10",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 580,
        "wires": [
            [
                "bb636e2d8f9e53ac"
            ]
        ]
    },
    {
        "id": "89752e2b70bb6fc6",
        "type": "delay",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "name": "",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "10",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1250,
        "y": 400,
        "wires": [
            [
                "ad0c2e5970ffaf23"
            ]
        ]
    },
    {
        "id": "04164fb4776f0102",
        "type": "function",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "name": "function 33",
        "func": "const data = msg.payload.map(a => { return { ...a } })\nconst oldSeries = msg.series\nconst avgCount = msg.avgCount\nfor (let i = 0; i < data.length; i++) {\n    let sum = 0.0\n    for (let j = Math.max(0, i - avgCount); j <= Math.max(i, avgCount); j++) {\n        sum = sum + parseFloat(data[j].y ?? 0)\n    }\n    msg.payload[i].y = [sum / avgCount, data[i].y ?? 0]\n    msg.payload[i].sum = sum\n    msg.payload[i].start = Math.max(i, avgCount) - Math.max(0, i - avgCount)\n    msg.payload[i].end = avgCount\n}\nmsg.series = [\"Average\",oldSeries]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 620,
        "wires": [
            [
                "c4f7108b9a885f2e"
            ]
        ]
    },
    {
        "id": "624374fbfd58b473",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "name": "Inject without check",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 1.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "49e38b6144cd5100"
            ]
        ]
    },
    {
        "id": "8fdf57491d1f0e4d",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select * from earthquakespast order by time desc limit 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 840,
        "wires": [
            [
                "cc6662b0fe70d384"
            ]
        ]
    },
    {
        "id": "35bc04e0ed2a9a1d",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command.lat",
                "pt": "msg",
                "to": "temp[0].latitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.command.lon",
                "pt": "msg",
                "to": "temp[0].longitude",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "temp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 840,
        "wires": [
            [
                "a44c264c16d6b87d"
            ]
        ]
    },
    {
        "id": "3348a7c3452279f4",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "limit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "a114e80b22896c69",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "limit",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 840,
        "wires": [
            [
                "fd74d91d95c3ddb7"
            ]
        ]
    },
    {
        "id": "df534c58efbcd404",
        "type": "switch",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "property": "limitUser[msg._sessionip]",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 780,
        "wires": [
            [
                "29d912ad4a197efa"
            ],
            [
                "a114e80b22896c69"
            ]
        ]
    },
    {
        "id": "28929d51ab6e52bf",
        "type": "switch",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 780,
        "wires": [
            [
                "53b60e8ca3ea7484",
                "76aa2a6cc334663b"
            ]
        ]
    },
    {
        "id": "29d912ad4a197efa",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "limitUser[msg._sessionip]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 780,
        "wires": [
            [
                "fd74d91d95c3ddb7"
            ]
        ]
    },
    {
        "id": "76aa2a6cc334663b",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "limitUser[msg._sessionip]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "5890b8901f42b8ac",
        "type": "debug",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 720,
        "wires": []
    },
    {
        "id": "d10f39eb27ee2292",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "{\"button\":[{\"name\":\"Set Markers\",\"icon\":\"fa-map-marker\",\"position\":\"bottomright\"},{\"name\":\"Reset\",\"icon\":\"fa-undo\",\"position\":\"bottomright\"},{\"name\":\"Last Pin\",\"icon\":\"fa-clock-o\",\"position\":\"bottomright\"}]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 680,
        "wires": [
            [
                "a44c264c16d6b87d"
            ]
        ]
    },
    {
        "id": "fe69674878bd52d6",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            },
            {
                "p": "series",
                "v": "Magnitude",
                "vt": "str"
            },
            {
                "p": "avgCount",
                "v": "500",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.3",
        "topic": "select time as 'x', mag as 'y' from earthquakesfuture where time > :time - 754800000 order by x asc",
        "x": 2150,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "47d48d922600b18f",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "name": "Reset Chart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 2470,
        "y": 780,
        "wires": [
            [
                "97bc10d240d9e32e"
            ]
        ]
    },
    {
        "id": "5f937b165c881cb5",
        "type": "function",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "name": "function 34",
        "func": "const data = msg.payload.map(a => { return { ...a } })\nconst oldSeries = msg.series\nconst avgCount = msg.avgCount\nfor (let i = 0; i < data.length; i++) {\n    let sum = 0.0\n    for (let j = Math.max(0, i - avgCount); j <= Math.max(i, avgCount); j++) {\n        sum = sum + parseFloat(data[j].y ?? 0)\n    }\n    msg.payload[i].y = [sum / avgCount, data[i].y ?? 0]\n    msg.payload[i].sum = sum\n    msg.payload[i].start = Math.max(i, avgCount) - Math.max(0, i - avgCount)\n    msg.payload[i].end = avgCount\n}\nmsg.series = [\"Average\", oldSeries]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 740,
        "wires": [
            [
                "97bc10d240d9e32e"
            ]
        ]
    },
    {
        "id": "ca0a41a852fb6d4d",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "bd7d4e242b628030",
        "name": "drop earthquakesfuture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 1.1,
        "topic": "DROP TABLE earthquakesfuture;",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "07ba229d262a7ff4"
            ]
        ]
    },
    {
        "id": "07ba229d262a7ff4",
        "type": "mysql",
        "z": "504c863383fa15c4",
        "g": "bd7d4e242b628030",
        "mydb": "0bd23af990ce8ed8",
        "name": "",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "fc7b88ad43a0b098"
            ]
        ]
    },
    {
        "id": "a9d8fd243739f9aa",
        "type": "mysql",
        "z": "504c863383fa15c4",
        "g": "b209b03d5458705a",
        "mydb": "0bd23af990ce8ed8",
        "name": "",
        "x": 1840,
        "y": 560,
        "wires": [
            [
                "1e33ee4ee2a957d3"
            ]
        ]
    },
    {
        "id": "9cdd47b1794198e2",
        "type": "mysql",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "mydb": "0bd23af990ce8ed8",
        "name": "",
        "x": 2300,
        "y": 620,
        "wires": [
            [
                "04164fb4776f0102"
            ]
        ]
    },
    {
        "id": "18a46c8656517c1f",
        "type": "mysql",
        "z": "504c863383fa15c4",
        "g": "ccbeca28aff4165f",
        "mydb": "0bd23af990ce8ed8",
        "name": "",
        "x": 260,
        "y": 340,
        "wires": [
            [
                "e326243ed67d58c7"
            ]
        ]
    },
    {
        "id": "682c26c6653d7865",
        "type": "mysql",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "mydb": "0bd23af990ce8ed8",
        "name": "",
        "x": 1240,
        "y": 780,
        "wires": [
            [
                "112649b1f28c1665"
            ]
        ]
    },
    {
        "id": "cc6662b0fe70d384",
        "type": "mysql",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "mydb": "0bd23af990ce8ed8",
        "name": "",
        "x": 1240,
        "y": 840,
        "wires": [
            [
                "35bc04e0ed2a9a1d"
            ]
        ]
    },
    {
        "id": "ca0fac6b93993696",
        "type": "mysql",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "mydb": "0bd23af990ce8ed8",
        "name": "",
        "x": 2300,
        "y": 740,
        "wires": [
            [
                "5f937b165c881cb5"
            ]
        ]
    },
    {
        "id": "7cf1a70cee2b4126",
        "type": "worldmap",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "showruler": "true",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,TL,HM",
        "maplist": "OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB,AN,ST,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1720,
        "y": 780,
        "wires": []
    },
    {
        "id": "1a0a366f39023a09",
        "type": "worldmap in",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "path": "/worldmap",
        "events": "connect",
        "x": 100,
        "y": 780,
        "wires": [
            [
                "df534c58efbcd404",
                "d10f39eb27ee2292"
            ]
        ]
    },
    {
        "id": "fd74d91d95c3ddb7",
        "type": "ui-number-input",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "group": "16d4a1a2cd890e9a",
        "name": "",
        "label": "Number of Pins",
        "order": 2,
        "width": 1,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000000",
        "step": 1,
        "tooltip": "",
        "passthru": true,
        "sendOnBlur": false,
        "sendOnEnter": false,
        "className": "",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "stacked",
        "x": 680,
        "y": 780,
        "wires": [
            [
                "28929d51ab6e52bf",
                "10a9d36507a2284a",
                "e272f3f3d9b49206"
            ]
        ]
    },
    {
        "id": "c4f7108b9a885f2e",
        "type": "ui-chart",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "group": "f96033b41d6aa7d5",
        "name": "",
        "label": "Past Earthquakes",
        "order": 1,
        "chartType": "line",
        "category": "series",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "d/L",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "-1",
        "ymax": "7",
        "bins": "",
        "action": "replace",
        "stackSeries": true,
        "pointShape": "false",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "604800",
        "removeOlderPoints": "10000",
        "colors": [
            "#ff0000",
            "#0095ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 14,
        "className": "",
        "interpolation": "linear",
        "x": 2690,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "97bc10d240d9e32e",
        "type": "ui-chart",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "group": "c6ecd55df661f530",
        "name": "",
        "label": "Predicted Earthquakes",
        "order": 1,
        "chartType": "line",
        "category": "series",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "d/L",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "-1",
        "ymax": "7",
        "bins": "",
        "action": "replace",
        "stackSeries": true,
        "pointShape": "false",
        "pointRadius": "1",
        "showLegend": true,
        "removeOlder": "100000",
        "removeOlderUnit": "604800",
        "removeOlderPoints": "10000",
        "colors": [
            "#ff0000",
            "#0095ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 14,
        "className": "",
        "interpolation": "linear",
        "x": 2700,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "14a0a19d6291f621",
        "type": "ui-iframe",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "group": "16d4a1a2cd890e9a",
        "order": 1,
        "src": "/worldmap",
        "width": 6,
        "height": 13,
        "x": 1710,
        "y": 840,
        "wires": []
    },
    {
        "id": "a99e3ed886cc6f7b",
        "type": "debug",
        "z": "504c863383fa15c4",
        "g": "b209b03d5458705a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 520,
        "wires": []
    },
    {
        "id": "3eb83e855415e96a",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "bd7d4e242b628030",
        "name": "drop earthquakesfuture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 1.1,
        "topic": "DROP TABLE earthquakespast;",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "07ba229d262a7ff4"
            ]
        ]
    },
    {
        "id": "faf0b7d6d0bb765f",
        "type": "worldmap in",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "path": "/worldmap",
        "events": "disconnect",
        "x": 100,
        "y": 880,
        "wires": [
            [
                "11dc7eab56e8a74b"
            ]
        ]
    },
    {
        "id": "11dc7eab56e8a74b",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "limitUser[msg._sessionip]",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "3738cb74338b0a34",
        "type": "worldmap in",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "path": "/worldmap",
        "events": "other",
        "x": 100,
        "y": 700,
        "wires": [
            [
                "455b7fa39c0f5391"
            ]
        ]
    },
    {
        "id": "455b7fa39c0f5391",
        "type": "switch",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "property": "payload.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Set Markers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Reset",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Last Pin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 250,
        "y": 700,
        "wires": [
            [
                "df534c58efbcd404"
            ],
            [
                "10a9d36507a2284a"
            ],
            [
                "e272f3f3d9b49206"
            ]
        ]
    },
    {
        "id": "c189880edf91ec53",
        "type": "inject",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "command",
                "v": "{\"showlayer\":\"earthquakes\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 1.1,
        "topic": "",
        "payload": "{\"type\":\"FeatureCollection\",\"name\":\"earthquakes\",\"layer\":\"earthquakes\",\"features\":[{\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-122.33,47.6]},\"properties\":{\"name\":\"Seattle\",\"magnitude\":4.5}}]}",
        "payloadType": "json",
        "x": 1430,
        "y": 900,
        "wires": [
            [
                "a44c264c16d6b87d"
            ]
        ]
    },
    {
        "id": "1e33ee4ee2a957d3",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "dc4511ec3f443d40",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select time as 'x', mag as 'y' from earthquakespast where time > :time - 754800000 order by x asc",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "series",
                "pt": "msg",
                "to": "Magnitude",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "avgCount",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 620,
        "wires": [
            [
                "9cdd47b1794198e2"
            ]
        ]
    },
    {
        "id": "10a9d36507a2284a",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":{\"clearlayer\":\"earthquakes\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 720,
        "wires": [
            [
                "a44c264c16d6b87d"
            ]
        ]
    },
    {
        "id": "e272f3f3d9b49206",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "591a1050a9e6bb73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 840,
        "wires": [
            [
                "8fdf57491d1f0e4d",
                "53b60e8ca3ea7484"
            ]
        ]
    },
    {
        "id": "833dde26bacfae5b",
        "type": "ui-button",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "group": "4900ab4632433dde",
        "name": "Create Prediction",
        "label": "",
        "order": 4,
        "width": 1,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-trending-up",
        "iconPosition": "left",
        "payload": "ButtonPressed",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 1080,
        "wires": [
            [
                "84730c40af0b7c08"
            ]
        ]
    },
    {
        "id": "ac83355695171863",
        "type": "http request",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://${backendIP}:8000/predict/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "9a22c8e81426bc87",
        "type": "ui-number-input",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "group": "4900ab4632433dde",
        "name": "Number of Earthquakes",
        "label": "Number of Earthquakes to predict",
        "order": 3,
        "width": 5,
        "height": 0,
        "topic": "number",
        "topicType": "str",
        "min": "1",
        "max": "10000",
        "step": 1,
        "tooltip": "",
        "passthru": false,
        "sendOnBlur": false,
        "sendOnEnter": false,
        "className": "",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 310,
        "y": 1200,
        "wires": [
            [
                "6a633ec6c475dfe0"
            ]
        ]
    },
    {
        "id": "4deb0a88052edde7",
        "type": "ui-dropdown",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "group": "4900ab4632433dde",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 5,
        "width": 5,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 1100,
        "y": 1020,
        "wires": [
            [
                "99676125875e5829"
            ]
        ]
    },
    {
        "id": "b4ccb2f5067864c4",
        "type": "catch",
        "z": "504c863383fa15c4",
        "g": "bd7d4e242b628030",
        "name": "",
        "scope": "group",
        "uncaught": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "bf9ac40a676743ba"
            ]
        ]
    },
    {
        "id": "bf9ac40a676743ba",
        "type": "debug",
        "z": "504c863383fa15c4",
        "g": "bd7d4e242b628030",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "1e1ac4f948ace0fd",
        "type": "catch",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "scope": "group",
        "uncaught": false,
        "x": 270,
        "y": 1320,
        "wires": [
            [
                "42b6ab6969d2faf2"
            ]
        ]
    },
    {
        "id": "42b6ab6969d2faf2",
        "type": "debug",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1320,
        "wires": []
    },
    {
        "id": "b70a6a9f6590aeb1",
        "type": "ui-button",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "group": "4900ab4632433dde",
        "name": "Learn",
        "label": "",
        "order": 2,
        "width": 1,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-brain",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 1140,
        "wires": [
            [
                "14c177015ccb17b9"
            ]
        ]
    },
    {
        "id": "58dee7c634cdbcd7",
        "type": "http request",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://${backendIP}:8000/learn/{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "cacb51903b7d1a75",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select distinct SUBSTRING_INDEX(id, \"_\", 1) as \"value\" from earthquakesfuture",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "fc39627cdc7dc352"
            ]
        ]
    },
    {
        "id": "fc39627cdc7dc352",
        "type": "mysql",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "mydb": "0bd23af990ce8ed8",
        "name": "",
        "x": 580,
        "y": 1020,
        "wires": [
            [
                "9fe79caa805572b3"
            ]
        ]
    },
    {
        "id": "9fe79caa805572b3",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "options",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1020,
        "wires": [
            [
                "ad51c38d995e3c07"
            ]
        ]
    },
    {
        "id": "99676125875e5829",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select time as 'x', mag as 'y' from earthquakesfuture where id LIKE CONCAT(:id, '_', '%') and time > :time - 754800000 order by x asc",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "tmp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "tmp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.time",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "delete",
                "p": "tmp",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "avgCount",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "series",
                "pt": "msg",
                "to": "Magnitude",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1020,
        "wires": [
            [
                "ca0fac6b93993696"
            ]
        ]
    },
    {
        "id": "84730c40af0b7c08",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "numberOfEarthquakes[msg._client.socketIp]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1080,
        "wires": [
            [
                "b28a8dd8240d9f37"
            ]
        ]
    },
    {
        "id": "6a633ec6c475dfe0",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "numberOfEarthquakes[msg._client.socketIp]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "b28a8dd8240d9f37",
        "type": "switch",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 1080,
        "wires": [
            [
                "ac83355695171863"
            ],
            [
                "49c0ce3562895836"
            ]
        ]
    },
    {
        "id": "21ea7cd8842ffa11",
        "type": "ui-button",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "group": "4900ab4632433dde",
        "name": "Refresh",
        "label": "",
        "order": 6,
        "width": 1,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "mdi-refresh",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 260,
        "y": 1020,
        "wires": [
            [
                "cacb51903b7d1a75"
            ]
        ]
    },
    {
        "id": "4cade0a28a5f20fe",
        "type": "ui-number-input",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "group": "4900ab4632433dde",
        "name": "Number of Earthquakes",
        "label": "Number of Earthquakes to learn",
        "order": 1,
        "width": 5,
        "height": 0,
        "topic": "number",
        "topicType": "str",
        "min": "1",
        "max": "10000",
        "step": 1,
        "tooltip": "",
        "passthru": false,
        "sendOnBlur": false,
        "sendOnEnter": false,
        "className": "",
        "clearable": true,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 310,
        "y": 1260,
        "wires": [
            [
                "f981af2c3bfa3a45"
            ]
        ]
    },
    {
        "id": "f981af2c3bfa3a45",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "numberOfEarthquakesPast[msg._client.socketIp]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "65c6d0c17edd7009",
        "type": "switch",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1140,
        "wires": [
            [
                "58dee7c634cdbcd7"
            ]
        ]
    },
    {
        "id": "14c177015ccb17b9",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "numberOfEarthquakesPast[msg._client.socketIp]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1140,
        "wires": [
            [
                "65c6d0c17edd7009"
            ]
        ]
    },
    {
        "id": "49c0ce3562895836",
        "type": "change",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1100,
        "wires": [
            [
                "ac83355695171863"
            ]
        ]
    },
    {
        "id": "ad51c38d995e3c07",
        "type": "function",
        "z": "504c863383fa15c4",
        "g": "4bd19be479da9d08",
        "name": "function 1",
        "func": "for (let [index, value] of msg.options.entries()) {\n    msg.options[index].label = (new Date(parseFloat(value.value) * 1000)).toLocaleString(\"en-US\", {\n        year: 'numeric',\n        month: 'short',\n        day: 'numeric',\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit',\n        hour12: false // Set to true for AM/PM\n    })\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1020,
        "wires": [
            [
                "4deb0a88052edde7",
                "42b6ab6969d2faf2"
            ]
        ]
    }
]